.App {
  text-align: center;
  background-color: aquamarine;
}
header{overflow: hidden;}
p{
  color: red;
  
}
main{
  background-color: palevioletred;
  height: 200px;
}
main>p{
  color: white;
}

main div{
  text-align: justify;
  font-style: italic;
  font-weight: bold;

}

main div p{
  color:white;
}